*{
    margin: 0;
    padding: 0;
}
.upperLine,.middleLine,.lowerLine {
    width: 40px;
    height: 5px;
    background-color: white;
    margin: 0 2vw;
    transition: 0.5s ease-in-out;
    border-radius: 100vh 100vh 100vh 100vh;
}
.middleLine{
    margin: -1.5vh 0;
}
.slider{
    display: flex;
    background-color:#03254c;
    height: 12vh;
    align-items: center;
}
.heading{
    text-align: center;
    margin-left: 40%;
    font-size: 6vh;
    /* color: #d0efff; */
    color: white;
}

.bar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vh 0 0 0;
    left: 10px;
    cursor: pointer;
    height: max-content;
    transition: 0.5s ease-in-out;
    /* z-index: 1; */
}

.bar:hover .upperLine{
    box-shadow: 2px 2px 1vh #d0efff;
    border-radius: 10px;
    width: 35px;
}

.bar:hover .middleLine{
    box-shadow: 2px 2px 1vh #d0efff;
    border-radius: 100vh;
    width: 35px;
}

.bar:hover .lowerLine{
    border-radius: 10px;
    box-shadow: 2px 2px 1vh #d0efff;
    width: 30px;
}

.btns{
    position: absolute;
    width: 17vw;
    height: 100vh;
    background-color: #03254c;
    transition: 0.5s ease-in-out;
    left: -15vw;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.opt{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    height: 20vh;
    margin-top: 2vh;
    background-color:#03254c;
}
.option{
    font-size: 5vh;
    color: #d0efff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 14vw;
    text-align: center;
}
.option:hover{
    color:white;
    cursor: pointer;
    text-shadow: 1px 1px 0.5px ;
}
.logoutbtn{
    display: flex;
    align-items: center;
    font-size: 4vh;
    color: #03254c;
    background-color: #d0efff;
    width: 14vw;
    text-align: center;
    margin-bottom: 2vh;
    cursor: pointer;
    border-radius: 5vh;
    padding: 1vh;
}
.logoutbtn:hover{
    background-color: white;
    color: #03254c;
    text-shadow: 1px 1px 2px #03254c;
}

.profile{
    border: 1px solid #2a9df4;
    background-color: #d0efff ;
    width: 10vw;
    height: 10vh;
    border-radius: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    margin:0 auto 3vh;
    cursor: pointer;
}
.profile:hover{
    box-shadow: 2px 2px 2vh #03254c;
    background-color: white;
}

@media screen and (max-width: 650px){
    .option{
        font-size: 3vh;
    }
    .logoutbtn{
        font-size: 2vh;
        border-radius: 4vh;
    }
    .heading{
        font-size: 5vh;
    }
}