*{
    margin: 0;
    padding: 0;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #03254c;
    width: 35vw;
    padding: 2vh;
    margin: 7vh 10vw;
    border-radius: 2vh;
    line-height: 7vh;
    font-size: 5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    backdrop-filter: blur(5vh);
}
.heading{
    color: #03254c;
    font-size: 7vh;
    margin: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    font-size: 3vh;
    margin: 0 1vw;
}
.update{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    border-radius: 2vh;
    color: white;
    font-size: 4vh;
    cursor: pointer;
    align-self: center;
    margin: 2vh 0;
    outline: hidden;
    color:#2a9df4;
    border-color: #2a9df4;
    padding: 1vh;
}

.btn:hover{
    box-shadow: 2px 2px 2vh #2a9df4;
}   
.body{
    background: url('../assets/Form.jpg');
    background-size: 100% 100%;
    height: 100vh;
    padding: 3vh 0;
}
.inputData{
    display: flex;
    justify-content: space-between;
    margin: 2vh 0;
}